/*Styling Across All Of The Website*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/*Styling for the Home Page*/







/*End of Home Page Styling*/



/*Styling for the Registration Page*/




/*End of register styling */


/*Styling for the Login Page*/



/*End of login styling*/