{% extends 'userdashboard.html' %}

{% block info %}
<!-- Page Heading -->
<h3 class="page-title">Your Events</h3>

<!-- Event List -->
<div class="event-list">
    {% if myevents.count != 0 %}
        <ul class="event-unordered-list">
            {% for e in myevents %}
                <li class="event-item">
                    <a href="{% url 'event_detail' username=e.user.username ename=e.name %}" class="event-link">
                        <div class="event-details">
                            <strong>{{ e.name }}</strong>
                            <span class="event-date">{{ e.start_datetime }}</span>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-events-message">You have no events.</p>
    {% endif %}
</div>

<!-- Create Event Button -->
<div class="create-event">
    <a href="{% url 'event_create' username=user.username %}" class="create-btn">
        <button class="btn-primary">Create a new Event</button>
    </a>
</div>

{% endblock %}