{% extends 'userdashboard.html' %}

{% block info %}
<div class="shared-events-container">
  <h3>Your Shared Events</h3><br>
  
  <div class="events-list">
    {% if events.count != 0 %}
      <ul>
        {% for e in events %}
          <li class="event-item">
            <a href="{% url 'event_detail' username=e.user.username ename=e.name %}" class="event-link">
              <strong>{{ e.name }}</strong> 
              <span class="event-time">({{ e.start_datetime }})</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No events have been shared with you.</p>
    {% endif %}
  </div>
</div>

{% endblock %}