{% extends 'base.html' %}
{% block content %}
<html class="user-dashboard">
    {% block sidebar %}
    <main class="main-wrap">
        <header class="main-head">
            <div class="main-nav">
                <nav class="navbar">
                    <div class="navbar-nav">
                        <div class="title">
                            <h3>
                                <i></i>
                                <span class="title-text"><span class="dashboard-username">{{ user.username }}'s</span><br>Event Page</span>
                            </h3>
                        </div>
                        <ul class="nav-list">
                            <li class="nav-list-item">
                                <a href="{% url 'event_page' username=user.username %}">
                                    <i class="fa-regular fa-calendar"></i>
                                    <span class="link-text">My Events: {{ myevents.count }}</span>
                                </a>
                            </li>
                            <li class="nav-list-item">
                                <a href="{% url 'invites' username=user.username %}" class="nav-link">
                                    <i class="fa-solid fa-users"></i>
                                    <span class="link-text">Invite Collaborators</span>
                                </a>
                            </li>
                            <li class="nav-list-item">
                                <a href="#" class="nav-link" data-toggle="dropdown">
                                    <i class="fa-brands fa-rocketchat"></i>
                                    <span class="link-text">Chat Room</span>
                                </a>
                                <div class="dropdown-menu">
                                    {% if myevents or shared_events %}
                                        <h5>Select an Event</h5>
                                        <ul>
                                            {% for event in myevents %}
                                                <li>
                                                    <a href="{% url 'chats' username=user.username event_id=event.id %}" class="event-chat-room-text">
                                                        Chat Room for {{ event.name }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                            {% for event in shared_events %}
                                                <li>
                                                    <a href="{% url 'chats' username=user.username event_id=event.id %}" class="event-chat-room-text">
                                                        Chat Room for {{ event.name }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <p class="no-current-events">You have no events to chat about.</p>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="nav-list-item">
                                <a href="{% url 'shared_events' username=user.username %}" class="nav-link">
                                    <i class="fa-solid fa-share"></i>
                                    <span class="link-text">Shared Events</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
    </main>
    {% endblock %}
    
    <section class="showcase">
        {% block info %}
        <div class="overlay">
            <div class="head">
                
            </div>
            <div class="content">
                <div class="welcome">
                    <div class="content-text">
                        <h3>Welcome To The Dashboard</h3>
                        <p><i class="fa-solid fa-bell"></i> My Notifications: </p>
                        <div class="invites">
                            {% for i in invites %}
                                <div class="invite-item">
                                    <p>Invited to <span class="event-name">{{ i.name }}</span>, hosted by <span class="host-name">{{ i.user }}</span></p>
                                    <div class="action-buttons">
                                        <button class="accept-btn">
                                            <a href="{% url 'accept' username=i.user.username ename=i.name %}">Accept Invite</a>
                                        </button>
                                        <button class="decline-btn">
                                            <a href="{% url 'decline' username=i.user.username ename=i.name %}">Decline Invite</a>
                                        </button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </section>
    
{% endblock %}

</html>
    
